In [5]:
import pandas as pd
df = pd.read_excel('Abbreviations.xlsx',0)
len(df)

71

In [6]:
df.head()

  ABBREVIATION                                            MEANING
0          USC                           University of San Carlos
1          SVD                         Society of the Divine Word
2       PAASCU  Philippine Accrediting Association of Schools,...
3    PTC-ACBET  Philippine Technological Council-Accreditation...
4         CHED                     Commission on Higher Education

In [7]:
with open('00-Abbreviations.txt','w') as file:
  for index, row in df.iterrows():
    file.write(f'{row[0]} stands for {row[1]}.\n')